fastapi~=0.117.1
uvicorn[standard]
sqlalchemy~=2.0.43
pydantic~=2.11.9
pydantic-settings
aiomysql
uuid~=1.30
greenlet
motor~=3.7.1
aiohttp~=3.12.15
locust
gunicorn
requests
markdown
starlette~=0.48.0
gevent
python-multipart
httpx
aiobotocore~=2.24.2
botocore~=1.40.18
aiofiles
Pillow
google-cloud-translate
seleniumbase
boto3
pymongo~=4.15.1
protobuf
undetected-chromedriver
selenium
opencv-python-headless
numpy
python-dotenv
cryptography
aio-pika
pytest-mock
pytest-asyncio